<!DOCTYPE html>
<html>
<head>
    <title>{% if recovery_strategy %}Edit{% else %}New{% endif %} Recovery Strategy</title>
</head>
<body>
    <h2>{% if recovery_strategy %}Edit{% else %}New{% endif %} Recovery Strategy</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    {% if recovery_strategy %}
    <a href="{% url 'recoverystrategy_detail' pk=recovery_strategy.strategyid %}">Cancel</a>
    {% else %}
    <a href="{% url 'recoverystrategy_list' %}">Cancel</a>
    {% endif %}
</body>
</html>
