<!DOCTYPE html>
<html>
<head>
    <title>{% if asset %}Edit{% else %}New{% endif %} Asset</title>
</head>
<body>
    <h2>{% if asset %}Edit{% else %}New{% endif %} Asset</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    {% if asset %}
    <a href="{% url 'asset_detail' pk=asset.assetid %}">Cancel</a>
    {% else %}
    <a href="{% url 'asset_list' %}">Cancel</a>
    {% endif %}
</body>
</html>
