<!DOCTYPE html>
<html>
<head>
    <title>Recovery Strategies</title>
</head>
<body>
    <h2>Recovery Strategies</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Process</th>
            <th>Asset</th>
            <th>Risk</th>
            <th></th>
        </tr>
        {% for strategy in recoverystrategies %}
        <tr>
            <td>{{ strategy.strategyid }}</td>
            <td>{{ strategy.strategyname }}</td>
            <td>{{ strategy.process }}</td>
            <td>{{ strategy.asset }}</td>
            <td>{{ strategy.risk }}</td>
            <td>
                <a href="{% url 'recoverystrategy_detail' pk=recoverystrategy.strategyid %}">View</a>
                <a href="{% url 'recoverystrategy_edit' pk=recoverystrategy.strategyid %}">Edit</a>
                <form action="{% url 'recoverystrategy_remove' pk=recoverystrategy.strategyid %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'recoverystrategy_new' %}">Add New Recovery Strategy</a>
</body>
</html>
