<!DOCTYPE html>
<html>
<head>
    <title>Risks</title>
</head>
<body>
    <h2>Risks</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Likelihood</th>
            <th>Impact Type</th>
            <th>Impact Scale</th>
            <th>Risk Level</th>
            <th></th>
        </tr>
        {% for risk in risks %}
        <tr>
            <td>{{ risk.riskid }}</td>
            <td>{{ risk.riskname }}</td>
            <td>{{ risk.likelihood }}</td>
            <td>{{ risk.impacttype }}</td>
            <td>{{ risk.impactscale }}</td>
            <td>{{ risk.risklevel }}</td>
            <td>
                <a href="{% url 'risks_detail' pk=risk.riskid %}">View</a>
                <a href="{% url 'risks_edit' pk=risk.riskid %}">Edit</a>
                <form action="{% url 'risks_remove' pk=risk.riskid %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'risks_new' %}">Add New Risk</a>
</body>
</html>
