<!DOCTYPE html>
<html>
<head>
    <title>{% if risk %}Edit{% else %}New{% endif %} Risk</title>
</head>
<body>
    <h2>{% if risk %}Edit{% else %}New{% endif %} Risk</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    {% if risk %}
    <a href="{% url 'risks_detail' pk=risk.riskid %}">Cancel</a>
    {% else %}
    <a href="{% url 'risks_list' %}">Cancel</a>
    {% endif %}
</body>
</html>
