<!DOCTYPE html>
<html>
<head>
    <title>Test Plans</title>
</head>
<body>
    <h2>Test Plans</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Result</th>
            <th>Details</th>
            <th>Strategy</th>
            <th></th>
        </tr>
        {% for testplan in testplans %}
        <tr>
            <td>{{ testplan.testplanid }}</td>
            <td>{{ testplan.testplanname }}</td>
            <td>{{ testplan.testdate }}</td>
            <td>{{ testplan.testresult }}</td>
            <td>{{ testplan.details }}</td>
            <td>{{ testplan.strategy }}</td>
            <td>
                <a href="{% url 'testplans_detail' pk=testplan.testplanid %}">View</a>
                <a href="{% url 'testplans_edit' pk=testplan.testplanid %}">Edit</a>
                <form action="{% url 'testplans_remove' pk=testplan.testplanid %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'testplans_new' %}">Add New Test Plan</a>
</body>
</html>
